[submodule "repos/altai/altai-installer"]
	path = repos/altai/altai-installer
	url = ../altai-installer.git
[submodule "repos/altai/altai-installer-test"]
	path = repos/altai/altai-installer-test
	url = ../altai-installer-test
[submodule "repos/altai/bunch"]
	path = repos/altai/bunch
	url = ../bunch.git
[submodule "repos/altai/focus"]
	path = repos/altai/focus
	url = ../focus.git
[submodule "repos/altai/focus-selenium-test"]
	path = repos/altai/focus-selenium-test
	url = ../focus-selenium-test.git
[submodule "repos/altai/instance-notifier"]
	path = repos/altai/instance-notifier
	url = ../instance-notifier.git
[submodule "repos/altai/nova2ools"]
	path = repos/altai/nova2ools
	url = ../nova2ools.git
[submodule "repos/altai/nova-billing"]
	path = repos/altai/nova-billing
	url = ../nova-billing.git
[submodule "repos/altai/nova-dns"]
	path = repos/altai/nova-dns
	url = ../nova-dns.git
[submodule "repos/altai/nova-fping-ext"]
	path = repos/altai/nova-fping-ext
	url = ../nova-fping-ext.git
[submodule "repos/altai/nova-networks-ext"]
	path = repos/altai/nova-networks-ext
	url = ../nova-networks-ext.git
[submodule "repos/altai/python-openstackclient-base"]
	path = repos/altai/python-openstackclient-base
	url = ../python-openstackclient-base.git
[submodule "repos/altai/python-zabbix-api"]
	path = repos/altai/python-zabbix-api
	url = ../python-zabbix-api.git
[submodule "repos/altai/zabbix-notifier"]
	path = repos/altai/zabbix-notifier
	url = ../zabbix-notifier.git
[submodule "repos/openstack/glance"]
	path = repos/openstack/glance
	url = ../glance.git
[submodule "repos/openstack/keystone"]
	path = repos/openstack/keystone
	url = ../keystone.git
[submodule "repos/openstack/nova"]
	path = repos/openstack/nova
	url = ../nova.git
[submodule "repos/openstack/noVNC"]
	path = repos/openstack/noVNC
	url = ../noVNC.git
[submodule "repos/openstack/python-glanceclient"]
	path = repos/openstack/python-glanceclient
	url = ../python-glanceclient.git
[submodule "repos/openstack/python-keystoneclient"]
	path = repos/openstack/python-keystoneclient
	url = ../python-keystoneclient.git
[submodule "repos/openstack/python-novaclient"]
	path = repos/openstack/python-novaclient
	url = ../python-novaclient.git
[submodule "repos/altai/altai-api"]
	path = repos/altai/altai-api
	url = ../altai-api.git
[submodule "repos/altai/keystone-ldap"]
	path = repos/altai/keystone-ldap
	url = ../keystone-ldap.git
[submodule "repos/altai/focus2"]
	path = repos/altai/focus2
	url = ../focus2.git
